<template name = "deviceStatus">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<span class="label label-primary pull-right">Today</span>
			<h5>Device status</h5>
		</div>
		<div class="ibox-content">

			<div class="row">
				<div class="col-md-6">
					<h1 class="no-margins">44%</h1>
					<div class="font-bold text-info"><i class="fa fa-battery-three-quarters"></i> <small>Battery Level</small></div>
				</div>
				<div class="col-md-6">
					<h1 class="no-margins">-98dB</h1>
					<div class="font-bold text-info"><i class="fa fa-signal"></i> <small>Signal Strength</small></div>
				</div>
			</div>


		</div>
	</div>
</template>