<template name = "rtCard">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<span class="label label-primary pull-right">Real Time</span>
			<h5>Real-Time Reading</h5>
		</div>
		<div class="ibox-content">
			<h1 class="no-margins">22.57&deg;C</h1>

			<div class="stat-percent font-bold text-navy">
				<i class="fa fa-refresh fa-spin fa fa-fw"></i>
				<span>Refreshes every 5 sec </span>
			</div>
			<small><i class="fa fa-clock-o" aria-hidden="true"></i> Last updated: </small>

			<table class="table small m-t-sm">
				<tbody>
					<tr>
						<td>
							<strong><i class="fa fa-level-up text-navy" aria-hidden="true"></i> Today's High </strong> 27.00&deg;C
						</td>
						<td>
							<strong><i class="fa fa-level-down text-danger" aria-hidden="true"></i> Today's Low </strong> 22.50&deg;C
						</td>

					</tr>
					<tr>
						<td>
							<strong><i class="fa fa-area-chart text-warning" aria-hidden="true"></i> Average </strong> 25.45&deg;C
						</td>
						<td>
							<strong><i class="fa fa-thermometer-half text-info" aria-hidden="true"></i> St. Deviation </strong> 0.56&deg;C
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>