<template name = "serverLog">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>Server Logs</h5>
			{{>iboxTools}}
		</div>
		<div class="ibox-content no-padding">
			<ul class="list-group">
				{{#each serverItems}}
					{{> serverItem}}
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name ="serverItem">
	<li class="list-group-item">
		<p><a class="text-info" href="#">@{{ clientId }}</a> <span class="badge">{{eventType}}</span></p>
		<p>{{ topics }}</p>
		<small class="block text-muted"><i class="fa fa-clock-o"></i> {{ timestamp }}</small>
	</li>
</template>